body{
    padding-right: 15%;
    padding-left: 15%;
    background: #e5e5e5;
    font-family: "Times New Roman", serif;
}

/*bloque presentacion*/
/* bloque presentacion */
#main {
    margin: 1%;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 3%;
    background-color: gray;
    border-radius: 5px;
}

/* contenedor imagen */
#img_perfil {
    flex: 0 0 150px; /* tamaño fijo */
}

/* imagen responsive */
#img_perfil img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #333;
}

/* contenedor texto */
#texto_perfil {
    align-items: center;
    gap: 5%;
    display: grid;
    background-color: beige;
    padding: 4%;
    border-radius: 8px;
    border: 1px solid #333;
}

/* nombre */
#texto_perfil h1 {
    margin: 0;
    font-size: 32px;
}

/* apellido */
#texto_perfil h1 span {
    display: block;
    font-size: 24px;
    font-weight: normal;
    color: #555;
}

/* descripción */
#texto_perfil p {
    display: flex;
    text-align: justify;
    padding-right: 3%;
    padding-left: 3%;
    border: 0;
    margin: 2%;
}


/*scroll*/
/* Barra fija arriba */
.navbar {
    position: sticky;
    border-radius: 15px;
    top: 1px;
    background: #525252;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
    z-index: 1000;
}

/* Links */
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

/* Hover elegante */
.navbar a:hover {
    color: #c7a86b;
}

/*Bloque 1*/
#bloque_1 {
    display: flex;
    border-radius: 15px;
    border: 3px solid black;
    gap: 10%;
}
#contacto {
    display: 1;
    color: white;
    background: #503822;
    padding-left: 3%;
    padding-right: 7.7%;
}
/*Bloque 2*/
#bloque_2 {
    display: flex;
    border-radius: 15px;
    border: 3px solid black;
    gap: 10%;
}
#idiomas {
    align-items: center;
    display: 1;
    color: white;
    background: #856343;
    padding-left: 3%;
    padding-right: 14%;
}
#experiencia {
    margin: 0;
}
#experiencia h4{
    display: flex;
}

/*Bloque 3*/
#bloque_3 {
    display: flex;
    border-radius: 15px;
    border: 3px solid black;
    gap: 10%;
}
#referencias {
    display: 1;
    color: white;
    background: #503822;
    padding-left: 3%;
    padding-right: 15%;
}
@media (max-width: 480px){
    body {
        font-size: 15px;
        padding-right: 5%;
        padding-left: 5%;
    }
}