body{
    background: #e5e5e5;
    font-family: "Times New Roman", serif;
}

/*bloque presentacion*/
/* bloque presentacion */
#main {
    margin: 1%;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}

/* contenedor imagen */
#img_perfil {
    flex: 0 0 150px; /* tamaño fijo */
}

/* imagen responsive */
#img_perfil img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #333;
}

/* contenedor texto */
#texto_perfil {
    flex: 1; /* ocupa espacio restante */
    background-color: beige;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #333;
}

/* nombre */
#texto_perfil h1 {
    margin: 0;
    font-size: 32px;
}

/* apellido */
#texto_perfil h1 span {
    display: block;
    font-size: 24px;
    font-weight: normal;
    color: #555;
}

/* descripción */
#texto_perfil p {
    margin-top: 10px;
}


/*scroll*/
/* Barra fija arriba */
.navbar {
    position: sticky;
    top: 1px;
    background: #525252;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
    z-index: 1000;
}

/* Links */
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

/* Hover elegante */
.navbar a:hover {
    color: #c7a86b;
}
