body{
    padding-right: 15%;
    padding-left: 15%;
    background: #e5e5e5;
    font-family: "Times New Roman", serif;
}

/*bloque presentacion*/
/* bloque presentacion */
#main {
    margin: 1%;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 3%;
    background-color: gray;
    border-radius: 5px;
}

/* contenedor imagen */
#img_perfil {
    flex: 0 0 150px; /* tamaño fijo */
}

/* imagen responsive */
#img_perfil img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #333;
}

/* contenedor texto */
#texto_perfil {
    align-items: center;
    gap: 5%;
    display: grid;
    background-color: beige;
    padding: 4%;
    border-radius: 8px;
    border: 1px solid #333;
}

/* nombre */
#texto_perfil h1 {
    margin: 0;
}

/* apellido */
#texto_perfil h1 span {
    display: block;
    font-weight: normal;
    color: #555;
}

/* descripción */
#texto_perfil p {
    display: flex;
    text-align: justify;
    padding-right: 3%;
    padding-left: 3%;
    border: 0;
    margin: 2%;
}


/*scroll*/
/* Barra fija arriba */
.navbar {
    position: sticky;
    border-radius: 15px;
    top: 1px;
    background: #525252;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
    z-index: 1000;
}

/* Links */
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

/* Hover elegante */
.navbar a:hover {
    color: #c7a86b;
}

/*Bloque 1*/
#bloque_1 {
    display: grid;
    grid-template-columns: 42% 56%;
    border-radius: 15px;
    border: 3px solid black;
    font-size: 15px;
    gap: 2%;
}
#contacto {
    flex: 1;
    color: white;
    border-radius: 10px;
    background: #503822;
    padding-left: 3%;
    padding-right: 3%;
}
#educacion {
    padding-left: 3%;
    padding-right: 3%;
    flex: 1;
    box-shadow: solid #333;
    border-radius: 10px;
    background-color: #d4bf96;
}
/*Bloque 2*/
#bloque_2 {
    display: grid;
    grid-template-columns: 42% 56%;
    border-radius: 15px;
    border: 3px solid black;
    gap: 2%;
}
#idiomas {
    color: white;
    border-radius: 10px;
    background-color: #856343;
    padding-left: 3%;
    padding-right: 3%;
}
#experiencia {
    padding-left: 3%;
    padding-right: 3%;
    flex: 1;
    box-shadow: solid #333;
    border-radius: 10px;
    background-color: #ddceb0;
}

/*Bloque 3*/
#bloque_3 {
    display: grid;
    grid-template-columns: 42% 56%;
    border-radius: 15px;
    border: 3px solid black;
    gap: 2%;
}
#referencias {
    border-radius: 10px;
    color: white;
    background: #503822;
    padding-left: 3%;
    padding-right: 15%;
}
#habilidades{
    padding-left: 3%;
    padding-right: 3%;
    flex: 1;
    box-shadow: solid #333;
    border-radius: 10px;
    background-color: #d4bf96;
}

@media (max-width: 500px) {
    body {
        padding-right: 5%;
        padding-left: 5%;
    }
    #main {
        font-size: 13px;
    }
    #main h1{
        font-size: 25px
    }
    .navbar,
    #bloque_1,
    #bloque_2,
    #bloque_3{
        font-size: 11px;
    }
}

@media (min-width: 501px){
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
    #main{
        font-size: 15px;
    }
    #main h1 {
        font-size: 25px;
    }
    #main h1 span{
        font-size: 23px;
    }
    #main p{
        font-size: medium;
    }

    #bloque_1,
    #bloque_2,
    #bloque_3{
        font-size: small;
        text-align: justify;
    }

    /* ===== BARRAS DE PROGRESO ===== */

.barra {
    width: 100%;
    height: 12px;
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

.progreso {
    height: 100%;
    border-radius: 10px;
    width: 0;
    animation: llenar 1s forwards;
}

/* colores según bloque */
#idiomas .progreso {
    background: white;
}

/* niveles */
.espanol { width: 100%; }
.ingles { width: 60%; }
.java { width: 60%; }
.html { width: 50%; }
.oracle { width: 35%; }

/* animación */
@keyframes llenar {
    from { width: 0; }
}
}
